#our-team-body-carousel{
  width: calc(100vw - 80px);
  padding: $medium;
  background-color: $white;
  @media(max-width: 1100px){
    display: none;
  }

  h2{
    margin-bottom: $medium;
  }

  .staffCarousel{
    display: flex;
    flex-direction: row;;
  
    .staffSlider{
      width: calc(100vw - 200px);
    }


  }



  #staff-slide{
    padding: $xsmall;
    width: calc(22.5vw - 80px);
    .staff-img{
      @media(min-width: 2000px){
        width:calc(22.5vw - 80px);
      }
      width: calc(22.5vw - 40px);
      height: auto;
      
    }
    .primary-title{
      margin-top: $small;
      color: $black;
    }
    .secondary-title{
      padding-top: 5px;
      color: $grey;
      padding-right: $xsmall;
    }
    p{
      font-size: $type_2;
      line-height: $line_2;
      @media(max-width: 1100px){
        font-size: $tab_type2;
        line-height: $tab_line2;
      }
      @media(max-width: 700px){
        font-size: $mobile_type2;
        line-height: $mobile_line2;
      }
    }
  }


  #staff-button-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    .carousel-button{
      background-color: transparent;
      border: 0px;
      padding-top: $xsmall;
      img{
        width: 100px;
        height: auto;
      }
    }
    .carousel-button:focus{
      outline:none;
    }
  }

}


#our-team-body{
  background-color: $white;
  @media(min-width: 1100px){
    display: none;
  }

  width: calc(100vw - 196px);
  padding: $medium $tab_large;

  @media(max-width: 700px){
    width: calc(100vw - 50px);
    padding: $small;
  }

  h2{
    margin-bottom: $medium;
  }

  #staff-deck{
    // width: calc(100vw - 196px);
    width: calc(100vw - 276px);
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    margin-left: $medium;
    margin-right: $medium;
    @media(max-width: 700px){
      width: calc(100vw - 130px);
    }
  #pad-left{
    padding-left: $xsmall;
    @media(max-width: 700px){
      padding-left: 0px;
    }
  }

    .staff-card{
      margin-bottom: $small;
      width: calc((100vw - 291px) / 2);
      @media(max-width: 700px){
        width: calc(100vw - 130px);
        margin: 10px $medium;

      }
      img{
        width: calc((100vw - 291px) / 2);
        height: auto;
        @media(max-width: 700px){
          width: calc(100vw - 130px);
        }
      }
      p{
        width: calc(50vw - 123px);
        @media(max-width: 700px){
          width: calc(100vw - 130px);
        }
      }
      .primary-title{
        color: $black;
      }
      .secondary-title{
        color: $grey;
      }
    }
  }
}