
// ******** PAGE ******** //


#process-layout{
  background-color: $white;
  padding-top: $medium;
  padding-bottom: $medium;
  @media(max-width: 700px){
    margin: 0px;
  }
}



// ******** CARD COMPONENT ******** //
.process-card{
  @media(max-width: 1100px){
    display: none;
  }
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  grid-template-rows: 1fr;
}



#withTimeFrame{
  @media(max-width: 1100px){
    display: none;
  }
  grid-template-areas: 'step pic timeframe copy';

  #process-left-column{
    margin-left: $medium;
    grid-area: step;
    padding-right: $small;
    border-right: 2px solid $black;
  }
  #process-image-container{

    justify-items: stretch;
    grid-area: pic;
    padding-left: $small;
    padding-right: $small;
    padding-bottom: $large;

    img{
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  };
  #timeframe{
    grid-area: timeframe;
    font-size: $type_2;
    padding-left: $small;
  }
  #process-copy{
    grid-area: copy;
    padding-right: $medium;
    padding-left: $small;
    font-size: $type_2;
    line-height: $line_2;
  }
}

#withoutTimeFrame{
  @media(max-width: 1100px){
    display: none;
  }
  display: grid;
  grid-template-areas: 'step pic pic copy';

  #process-left-column{
    margin-left: $medium;
    grid-area: step;
    border-right: 2px solid $black;
  }

  #process-image-container{
    grid-area: pic;
    justify-items: stretch;
    padding-left: $small;
    padding-right: $small;
    padding-bottom: $large;


    img{
      padding-top:0px;
      padding-right: 0px;
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  #process-copy{
    grid-area: copy;
    justify-self: start;
    padding-right: $medium;
    padding-left: $small;
    font-size: $type_2;
    line-height: $line_2;

  }
}


.grid-div{
  height: 100%;
  grid-column: 3/4;
  grid-row: 1/2;
  border-left: 2px solid $black;
  border-right: 2px solid $black;
}

.last-desktop-card{
  padding-bottom: 0px !important;
}

// ********* Mobile Styling ******* //@extend
.mobile-process-card{
  @media(min-width: 1100px){
    display: none;
  }
  padding-top: $small;
  padding-bottom: $medium;
  margin-left: $small;
  margin-right: $small;
  @media(min-width: 700px) and (max-width: 1100px){
    padding-top: $medium;
    margin-left: $tab_large;
    margin-right: $tab_large;
  }

  #mobile-process-headline{
    h2, h3{
      font-size: $mobile_type2;
      line-height: $mobile_line2;
    }
    margin-bottom: $small;

    @media(min-width: 700px) and (max-width: 1100px){
      h2, h3{
        font-size: $tab_type2;
        line-height: $tab_line2;
      }
    }
  }

  #mobile-process-image-container{
    @media(min-width: 700px) and (max-width: 1100px){
      width: calc(100vw - 196px);
    }
    width: calc(100vw - 50px);
    place-items: auto;
    img{
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  #mobile-timeframe{
    @media(min-width: 700px) and (max-width: 1100px){
    font-size: $tab_type2;
    line-height: $tab_line2;
    padding: $small $medium;
    }
    font-size: $mobile_type2;
    line-height: $mobile_line2;
    padding: $small 0px;
  }

  #mobile-process-copy{
      padding-top: $small;
      font-size: $mobile_type2;
      line-height: $mobile_line2;


      @media(min-width: 700px) and (max-width: 1100px){
        padding: 0px;
        font-size: $tab_type2;
        line-height: $tab_line2;
        padding-left: $medium;
      }
  }

}

#border{
  border-bottom: 2px solid $grey;
}