
// ******** PAGE ******** //


#process-layout{
  margin-top: $medium;
  margin-bottom: $medium;
  @media(max-width: 800px){
    margin: 0px;
  }
}



// ******** CARD COMPONENT ******** //
.process-card{
  @media(max-width: 800px){
    display: none;
  }
  max-height: 90vh;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  grid-template-rows: 1fr;
}

#process-left-column{
  height: 90vh;

  h2{
    margin-top: $medium;
  }
}

#withTimeFrame{
  @media(max-width: 800px){
    display: none;
  }
  grid-template-areas: 'step pic timeframe copy';

  #process-left-column{
    margin-left: $medium;
    grid-area: step;
    padding-right: $small;
    border-right: 0.08em solid $black;
  }
  #process-image-container{

    justify-items: stretch;
    grid-area: pic;
    padding-left: $small;
    padding-right: $small;

    img{
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  };
  #timeframe{
    grid-area: timeframe;
    font-size: $type_2;
    padding-left: $small;
  }
  #process-copy{
    grid-area: copy;
    padding-right: $medium;
    padding-left: $small;
    font-size: $type_2;
    line-height: $type_2;
  }
}

#withoutTimeFrame{
  @media(max-width: 800px){
    display: none;
  }
  display: grid;
  grid-template-areas: 'step pic pic copy';

  #process-left-column{
    margin-left: $medium;
    grid-area: step;
    border-right: 0.08em solid $black;
  }

  #process-image-container{
    grid-area: pic;
    justify-items: stretch;
    padding-left: $small;
    padding-right: $small;

    img{
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  #process-copy{
    grid-area: copy;
    margin-right: $medium;
    justify-self: start;
    padding-right: $medium;
    padding-left: $small;
    font-size: $type_2;
    line-height: $type_2;
  }
}


.grid-div{
  height: 90vh;
  grid-column: 3/4;
  grid-row: 1/2;
  border-left: 0.08em solid $black;
  border-right: 0.08em solid $black;
}



// ********* Mobile Styling ******* //@extend
.mobile-process-card{
  @media(min-width: 800px){
    display: none;
  }
  padding-top: $medium;
  padding-bottom: $medium;
  margin-left: $small;
  margin-right: $small;


  #mobile-process-headline{
    h2, h3{
      font-size: $mobile_type2;
      line-height: $mobile_line2;
    }
    margin-bottom: $small;
  }

  #mobile-process-image-container{
    width: calc(100vw - 50px);
    place-items: auto;
    img{
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  #mobile-timeframe{
    font-size: $mobile_type2;
    line-height: $mobile_line2;
    padding: $small $medium;
  }

  #mobile-process-copy{
      padding-top: $small;
      padding-left: $medium;
      font-size: $mobile_type2;
      line-height: $mobile_line2;

  }

}

#border{
  border-bottom: 1px solid $grey;
}