#contact-cta{
  height: 100vh;
  background-color: $sun;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: 'Lausanne';
}

#contact-left-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  img{
  width: 85%;
  height: auto;
  margin-right: $small;
  }
}

#contact-right-column{
  margin-top: $large;
  margin-right: $medium;
  display: grid;
  grid-template-rows: 1fr 1fr;

  h2{
    font-size: 3.25em;
    line-height: 3.5em;
    
  }
  h3{
    font-size: 3.25em;
    opacity: 3.5em;
  }

  a{
    text-decoration: none;
    color: $black;
    font-size: 3.25em;
    align-self: end;
    margin-bottom: $large;
  }
}