#contact-cta{
  height: 75vh;
  background-color: $sun;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: 'Lausanne';
}

#contact-left-column {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  img{
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    object-fit: cover;
  }

}

#contact-right-column{
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding-right: $medium;

  div{
    margin-top: $medium;
  }

  a{
    text-decoration: none;
    color: $black;
    font-size: 3.25em;
    align-self: end;
    margin-bottom: $medium;
  }
}