#featured-shed-carousel{
  background-color: $cloud;
  padding: $medium 0px 0px $medium;
  h2{
    margin-bottom: $xlarge;
  }
}

#featured-carousel{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: $small;
  min-height: 50vh;
  div{
    justify-items: stretch;
    overflow: hidden;

    img{
      width: 100%;
      height: auto;
      object-fit: contain;
    }
    #image-cut{
      height: 100%;
      width: auto;
    }

  }
}