
#featured-shed-carousel{
  @media(max-width:800px){
    display:none;
  }

  background-color: $cloud;
  padding: $medium 0px 0px $medium;
  h2{
    margin-bottom: $xlarge;
  }

  .slide{
    height: 100%; 
    width: 100%;
    place-items: center;
    img{
      width: 95%;
      height: 100%;
      object-fit: cover;
    }
  }

  button{
    border: none;
    background-color: transparent;
    position: relative;
    right: -89vw;
    top: -38vh;
  }
  button:focus{
    outline: none;
  }

}
