#nav-section{
  width: 98vw;
  display: grid;
  grid-template-rows: 100px;
  grid-template-columns: 65% auto;
  position: absolute;
  z-index: 5;
  margin-top: $small;
  margin-left: $small;
  margin-right: $small;
  .wordmark{
    margin-top: $small;
    margin-left: $small;
    height: 75px; 
  }
  ul{
    margin-top: $small;
    margin-right: $small;
    font-family: 'Lausanne';
    font-size: 1.5em;
    line-height: 1.6em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    li a{
    text-decoration: none;
    color: $white;
    a:visited{
      color: $white;
    }
    a:active{
      color: $white;
    }
  }
  }
}