#newsletter{
  height: 500px;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: $cloud;
  div{
    height: calc(500px - 80px);
    width: calc(50vw - 50px);
    margin: $medium 0px; 
  }
  #newsletter-copy{
    padding-left: $medium;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p{
      color: $grey;
      font-size: $type_2;
      line-height: $line_2;
      width: 70%;
    }
  }
  #newsletter-form{
    padding-right: $medium;
    padding-left: 10px;
    border-left: 2px solid $black;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    input{
      height: 70px;
      padding-top: 10px;
      width: calc(50vw - 50px);
      margin: 0px;
      border: 0px;
      font-size: $type_1;
      font-family: 'Lausanne';
      background-color: $cloud;
      border-radius: 0px;
      border-bottom: 2px solid $grey;
    }
    input:focus{
      outline: none;
      border-bottom: 2px solid $black;
    }
    input:last-of-type{
      margin-bottom: $small;
    }

    input::-webkit-input-placeholder{
      color:#bab9b5;
    }
    input::-moz-placeholder{
      color:#bab9b5;
    }
    input:-moz-placeholder{
      color:#bab9b5;
    }
    input:-ms-input-placeholder{
     color:#bab9b5;
     }
    button{
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      border: 0px;
      outline: none;
    }
    #error-msg{
      color: red;
      padding-top: $xsmall;
    }
  
  }

  @media(max-width: 1100px){
      div{
        height: calc(500px - 50px);
        width: calc(50vw - 35px);
        margin: $small 0px; 
      }
      #newsletter-copy{
        padding-left: $small;
        p{
          font-size: $mobile_type2;
        }
      }
      #newsletter-form{
        padding-right: $small;
        input{
          width: calc(50vw - 35px);
          font-size: $tab_type1;
          line-height: $tab_line1;
          height: 65px;
        }
        button{
          font-size: $mobile_type1;
        }

      }
  }

  @media(max-width: 700px){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    background-color: $white;
    div{
      width: calc(100vw - 50px);
    }
    #newsletter-copy{
      padding-right: 0px;
      height: 100px;
      p{
        display: none;
      }
    }
    #newsletter-form{
      h5{
        display: none;
      }
      display: flex;
      justify-content: flex-end;
      padding-left: $small;
      border-left: 0px;
      height: 300px;
      form{
        input{
          background-color: $white;
          width: calc(100vw - 75px);
          height: 30px;
          padding-top: 28px;
          border-radius:0px;
          border-bottom: 2px solid $grey;
          font-size: $mobile_type1;
          line-height: $mobile_line1;
        }
      }

    }
  }
}
