#newsletter{
  min-height: 55vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px $medium $medium $medium;
  background-color: $cloud;

#newsletter-copy{
  height: 100%;
  margin-top: $small;
  padding-right: 13em;
  border-right: 0.08em solid $black;
  h2{
    margin-top: $small;
  }
  p{
    margin-top: $large;
    font-size: $type_2;
    line-height: $type_2;
    color: #999999;
  }
}

#newsletter-form{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr; 
  align-items: start;
  padding: $medium 0px 0px $small;
  form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20%;
    input{
      font-size: $type_1;
      font-family: 'Lausanne';
      background-color: $cloud;
      border-top-style: hidden;
      border-right-style: hidden;
      border-left-style: hidden;
      border-bottom: 2px solid #999999;
    }
    input:focus{
      outline:none;
    }
  }
}
@media(max-width: 1025px) and (min-width: 700px){
  min-height: 475px;
  padding: 0px $small 0px $small;

  #newsletter-copy{
    width: calc(50vw - 50px);
    height: calc(100% - 50px);
    padding-right: $small;
    margin-bottom: $small;
  }

  #newsletter-form{
    width: calc(50vw - 50px);
    padding-left: $xsmall;
    form{
      height: calc(100% - 50px);
      width: calc(50vw - 50px);
      align-self: end;
      padding-bottom: $small;
      input{
        width: calc(50vw - 50px);
        font-size: $mobile_type1;
      }
      button{
        width: calc(50vw - 50px);
        font-size: $mobile_type1;
        height: 80px;
      }
    }
  }
}

}



#newsletter{
  @media(max-width: 700px){
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: auto;

    #newsletter-copy{
      margin:0px;
      padding: 0px;
      h2{
        padding-top: $medium;
        font-size: $mobile_type1;
        margin:0px;
        padding-left: $small;
        margin-bottom: $large;
      }
      p{
        display:none;
      }
    }

  #newsletter-form{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin:0px;
    h5{
      display: none;
    }
    form{
      display: flex;
      flex-direction: column;
      padding-left: $small;
      input{
        padding-top: $small;
        font-size: $mobile_type1;
        width: calc(100vw - 65px);
        border-radius: 0;

      }
      input::placeholder{
        padding:0px;
        margin:0px;
      }
      input:placeholder-shown{
        padding-left: 0px;
      }
      input:focus{
        padding-left: 0px;
      }
      button{
        margin-top: $small;
        margin-bottom: $medium;
        width: calc(100vw - 45px);
        height: 75px;
        font-size: $mobile_type1;
      }
    }
  }
  }
}
