
.page-hero{
  height: 65vh;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  div {
    height: 100%;
    display: grid;
  }

  h1{
    font-family: 'Lausanne';
    margin-top: $small;
  }
  h2{
    margin-right: $medium;
    align-self: center;
  }
  h3{
    align-self: start;
    margin-right: $medium;
  }


  @media(max-width: 1025px){
    display: flex;
    height: 50vh;
    h1{
      display: none;
    }
    h2, h3{
      font-size: $mobile_type1;
      line-height: $mobile_line1;
      margin-right: 0px;
    }

    #hero-text{
      padding-left: $tab_large;
      padding-right: $tab_large;
      justify-self: center;
      display: flex;
    }
    #empty-div{
      display: none;

    }
  }
  @media(max-width: 700px){
    height: 80vh;
    #hero-text{
      padding-left: $small;
      padding-right: $small;
  
    }
  }


}

#process-hero{
  background-color: $sky;
}

#sheds-hero{
  background-color: $sun;
}

#contact-hero{
  background-color: $cloud;
}

#dealer-hero{
  background-color: $cloud;
}

#our-story-hero{
  background-color: $cloud;
}