
.page-hero{
  height: 65vh;
  display: flex;
  flex-direction: row;
  div {
    width: 50%;
    height: 100%;
    display: grid;

  }

  h1{
    font-family: 'Lausanne';
    margin-top: $small;
  }
  h2{
    margin-right: $medium;
    align-self: center;
  }
  h3{
    align-self: start;
    margin-right: $medium;
  }
}

#process-hero{
  background-color: $sky;
}

#sheds-hero{
  background-color: $sun;
}