.hero{
  height: 50vh;
}
#process-hero{
  background-color: $sky;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  h2{
    width: 50vw;
    margin-right: $medium;
  }
}

#process-layout{

}

.process-card{
  height: 80vh;
  display: grid;
  margin-top: $medium;
  grid-template-columns: 1fr 0.5fr 1fr 1fr 1fr 1fr;
}

#withTimeFrame{
  grid-template-areas: 'step step pic pic timeframe copy';

  #process-left-column{
    margin-left: $medium;
    grid-area: step;
  }
  img{
    grid-area: pic;
  };
  #timeframe{
    grid-area: timeframe;
  }
  #process-copy{
    grid-area: copy;
  }
}

#withoutTimeFrame{
  display: grid;
  grid-template-areas: 'step step pic pic pic copy';
  #process-left-column{
    margin-left: $medium;
    grid-area: step;
  }
  img{
    grid-area: pic;
    justify-self: center stretch;
  }
  #process-copy{
    grid-area: copy;
    margin-right: $medium;
    justify-self: start;
  }
}
