#section-headline{
  margin-top: $medium;
  margin-left: $medium;
  margin-bottom: 20vh;
  @media(max-width: 800px){
    font-size: $mobile_type1;
    margin-bottom: $large;
  }
}

#size-deck{
  margin-left: $medium;
  margin-right: $medium;
  display: flex;
  @media(max-width: 800px){
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
  }
}

#size-card{
  padding-left: $small;
  padding-right: $small;
  margin-bottom: $medium;
  min-height: 100vh;
  width: 31.5%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 2fr 0.9fr;
  border-left: 1px solid $black;
  #size-img{
    grid-row: 2/3;
    img{
      object-fit: cover;
      width: 100%;
    }


    #gif-1:hover{
      content: url('https://dummyimage.com/375x500/fff/000')
    }
    #gif-2:hover{
      content: url('https://dummyimage.com/375x500/fff/000')
    }
    #gif-3:hover{
      content: url('https://dummyimage.com/375x500/fff/000')
    }
  } 
  #headline{
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: $small;
    
  }

  li{
    border-left: 0.08em solid $grey;
    padding-left: $small;
    font-size: 1.5em;
    line-height: 1.1em;
    color: $grey;
    font-family:'Lausanne';
  }
  a{
    color: $black;
    margin-bottom: $medium;
    align-self: start;
    font-family: 'Lausanne';
    text-decoration: none;
    font-size: $type_2;
  }
  p{
    margin-top: $small;
    width:25vw;
    font-size: $type_2;
    line-height: $line_2;
    margin-bottom: 15vh;
    color: $grey;

  }

  @media(max-width: 800px){
  display:none;
}
}


#mobile-size-card{
  @media(min-width: 800px){
    display: none;
  }
  border-top: 1px solid $grey;
  padding: $small 0px;
  margin-left: $small;
  margin-right: $small;
  h2, h3{
    line-height: $mobile_line2;
    font-size: $mobile_type2;
  }
  #mobile-size-img-container{
    padding-top: $small;
    width: calc(100vw - 50px);
    height: auto;
    display: flex;
    place-items: center;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  p{
    font-size: $mobile_type2;
    line-height: $mobile_line2;
    color: $grey;
    padding: $small $medium;

  }
}