#tailored-section{
  font-family: 'Lausanne';
  background-color: $white;
  display: grid;
  grid-template-columns: 2fr 1fr;

  #tailored-image-container{
  grid-column: 1/2;
  margin-right: $small;
  margin-left: $medium;
  margin-top: $large;
    img{
      width: 100%;
      object-fit: contain;
    }
  }

  #tailored-right-column{
   display: grid;
   grid-template-rows: 1fr 1fr;
   grid-template-columns: 1fr; 
   .button-container{
     align-self: center;
   }
  }

  .headline-container{
    h2:first-of-type{
      margin-top: $large;
    }
    h2{
      font-size: $type_1;
    }
  }
  p{
    margin-top: $large;
    margin-right: $medium;
    font-size: $type_2;
    line-height: 1.4em;
    color: #999999;
  }
  a{
    text-decoration: none;
    color: $black;
    font-size: $type_1;
    a:visited{
      color: $black;
    }
    a:active{
      color: $black;
    }
}

@media(max-width: 800px){
  display: none;
  }
}

#tailored-mobile-section{
  @media(min-width: 800px){
    display: none;
  }
  width: 100vw;
  padding: $medium $small $small $small;

  h2{
    margin-bottom: $medium;
  }
  #tailored-mobile-image-container{
    width: calc(100vw - 50px);
    height: auto;
    place-items: center;
    margin-bottom: $medium;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  p{
    font-size: $mobile_type2;
    line-height: $mobile_line2;
    padding-left: $medium;
    padding-right: $large;
  }

}