
#index-2{

  font-family: 'Lausanne';
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: $sky;
  min-height: 120vh;


#index-2-image-container{
  display: grid;
  div{
    display: flex;
    align-items: flex-end;
    height: 100%;
    margin-left: $medium;
    width: auto;
  img{
    width: 100%; 
    height:auto;
    margin-bottom: $small;
    margin-right: 15px;
    object-fit:contain;
  }
  }
}

#index-2-text-container{
  padding-top: $medium;
  display: grid;
  border-left: 0.08em solid $midnight;
  margin-bottom: $small;
  div:first-of-type{
    h2{
    font-size: $type_1;
    margin-left: $small;
  }
  
  h3{
    font-size: $type_1;
    opacity: 0.4;
    margin-left: $small;
  }
}
  .whatwedo-desc{
    align-self: end;
    p{
      padding-right: $medium;
      font-size: $type_2;
      line-height: $type_2;
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
      column-fill: auto;
    }
    
    padding-left: 15px;
    }
  }

      
  @media(max-width: 800px){
    display: none;
  }
}

#index-2-mobile{
  @media(min-width: 800px){
    display: none;
  }
  width: 100%;
  background-color: $sky;

  h2, h3{
    font-size: $mobile_type1;
    padding:0px $small $medium $small;
  }

  h2{
    padding-top: $medium;
  }

  #index-2-image-container{
    width: 90vw;
    height: auto;
    place-items: center;
    margin: auto;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  p{
    padding: $medium 65px $medium 65px;
    font-size: $mobile_type2;
    line-height: $mobile_line2;
  }
}