

 .mobile-query{
    display:block ;
    @media(min-width:768px){
      display: none;
    }
  }
  
 .desktop-query{
    display: none; 
    @media all and (min-width: 768px ){
      display: block;
    }
  }

  h2{
    font-size: 38px;
    color: $black;
    font-family: 'Lausanne';
  }

  h3{
    font-size: 38px;
    color: $black;
    opacity: 0.4;
    font-family: 'Lausanne';
  }

  p{
    font-family: 'Lausanne';
  }
