@font-face{
  font-family: 'Lausanne';
  src: url('/fonts/Lausanne-300.woff')format('woff'),
       url('/fonts/Lausanne-300.woff2')format('woff2');
}

@font-face{
  font-family: 'Simplon-Mono';
  src: url('/fonts/SimplonMono.woff')format('woff'),
       url('/fonts/SimplonMono.woff2')format('woff2');
}