$cloud: #e3e1da;
$midnight: #222329;
$sun: #efb546;
$sky: #8cbdbf;


$black: $midnight;
$white: #fff;
$grey: #999999;


$type_1: 50px;
$line_1: 51px;
$type_2: 20px;
$line_2: 25px;
$type_3: 24px;
$line_3: 26.5px;
$type_4: 14px;


$mobile_type1: 28px;
$mobile_line1: 31px;
$mobile_type2: 14px;
$mobile_line2: 20px;
$mobile_type3: 24px;
$mobile_line3: 28px;


$tab_type1: 40px;
$tab_line1: 44px;
$tab_type2: 18px;
$tab_line2: 25px;
$tab_type3: 24px;
$tab_line3: 28px;


$xsmall: 15px;
$small: 25px;
$medium: 40px;
$large: 80px;
$xlarge: 100px;
$tab_large: 98px;
$mobile_p: 65px;


.right-border{
  margin-top: $small;
  border-right: 0.08em solid $midnight;
  margin-bottom: $small;
}


.left-border{
  margin-top: $small;
  border-left: 0.08em solid $midnight;
  margin-bottom: $small;
}