// Brand Colors
$cloud : #e3e1da;
$midnight : #222329;
$sun : #efb546;
$sky : #8cbdbf;



// Type Colors
$black: $midnight;
$white: #fff;
$grey: #999999;


// Type Sizes
$type_1 : 3.12em;
$line_1: 3.2em;
$type_2: 1.2em;
$line_2: 1.45;




// Margins
$small-y : 2%;
$medium-y : 4%;
$large-y: 8%;

$small-x : 2%;
$medium-x : 4%;
$large-x: 8%;


$small : 2%;
$medium : 4%;
$large: 8%;
// Borders
.right-border{
  margin-top: $small;
  border-right: 0.08em solid $midnight;
  margin-bottom: $small;
}

.left-border{
  margin-top: $small;
  border-left: 0.08em solid $midnight;
  margin-bottom: $small;
}